[submodule "training-sets/opencv-haar-classifier-training"]
	path = training-sets/opencv-haar-classifier-training
	url = https://github.com/mrnugget/opencv-haar-classifier-training
[submodule "training-sets/mergevec"]
	path = training-sets/mergevec
	url = https://github.com/wulfebw/mergevec.git
